.ui-network-icon {
  @apply inline-flex justify-center items-center leading-none origin-center opacity-70;
  width: 1.3em;
  height: 1.3em;
  transform: scale(1.2);
  background: url('../i/symbol/unknown.svg') no-repeat center;
  &.ETH {
    background-image: url('../i/symbol/ETH.svg');
  }
  &.FTM {
    background-image: url('../i/symbol/FTM.svg');
  }
  &.DOID {
    background-image: url('../i/symbol/DOID.svg');
  }
  &.testnet {
    &::after {
      content: attr(acronym);
      @apply inline-flex w-full h-full rounded-full bg-gray-400 justify-center items-center not-italic text-gray-900 text-xs;
    }
    @apply bg-none;
  }
}
