@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop {
  @apply fixed inset-0 flex flex-col justify-center items-center bg-[#00000080];
}


.modal {
  @apply bg-gradient-to-tl from-[#3D1D7F] to-[#2E1677] py-10 px-4 mx-[32%] rounded-lg text-white absolute;
}

.close {
  @apply top-0 right-0 mt-4 text-right font-extralight text-xl text-white absolute;
}

.content-text {
  @apply mb-4 ml-10 mr-10 text-left font-extralight;
}

.play-button {
  @apply font-semibold text-lg pl-8 pr-8 pt-2 pb-2 bg-gradient-to-t from-[#FD7CA5] to-[#FD3A77] shadow-inner max-w-[220px] max-h-[56px] rounded-lg text-white block mx-auto;
}

.top-left-logo {
  @apply inline-block z-[1] absolute left-16 -top-16 rotate-[170deg];
  width: 108px; /* 设置适当的宽度 */
  height: 108px; /* 设置适当的高度 */
  background: url(../i/ui-rookie-logo.svg) no-repeat center / cover;
}

.left-top-logo {
  @apply inline-block z-[1] absolute -left-12 top-12 rotate-[245deg];
  width: 88px; /* 设置适当的宽度 */
  height: 88px; /* 设置适当的高度 */
  background: url(../i/ui-rookie-logo.svg) no-repeat center / cover;
}

.left-bottom-logo {
  @apply inline-block z-[1] absolute -left-12 -bottom-12;
  width: 100px; /* 设置适当的宽度 */
  height: 100px; /* 设置适当的高度 */
  background: url(../i/ui-rookie-logo.svg) no-repeat center / cover;
}

.right-bottom-logo {
  @apply inline-block z-[1] absolute -right-10 -bottom-10 rotate-[240deg];
  width: 128px;
  height: 128px;
  background: url(../i/ui-rookie-logo.svg) no-repeat center / cover;
}

.right-bottom-free-logo {
  @apply inline-block z-[1] absolute -right-24 -bottom-28 rotate-[245deg];
  width: 88px;
  height: 88px;
  background: url(../i/ui-rookie-logo.svg) no-repeat center / cover;
}

.backdrop-mobile {
  @apply fixed w-full h-full flex items-center;
}

.rookie-bg-mobile {
  @apply mx-4 w-[421.63px] h-[335px] flex justify-center relative;
  background-image: url(../i/ui-rookie-mobile-bg.svg); 
  background-repeat: no-repeat; 
  background-size: contain; 
}

.modal-mobile {
  @apply inline-block p-4 mx-10 transform absolute bottom-[72px] rounded-md bg-gradient-to-tl from-[#3D1D7F] to-[#2E1677];
}

.content-text-mobile {
  @apply text-xs mt-2 ml-6 mr-4 text-left font-extralight;
}

.play-button-mobile {
  @apply font-medium text-lg mt-6 mb-4 bg-gradient-to-t from-[#FD7CA5] to-[#FD3A77] shadow-inner w-[160px] h-[40px] rounded-lg text-white block mx-auto;
}

.top-left-mobile-logo {
  @apply inline-block z-[1] absolute -left-2 -top-4 rotate-[170deg];
  width: 51px; /* 设置适当的宽度 */
  height: 51px; /* 设置适当的高度 */
  background: url(../i/ui-rookie-logo.svg) no-repeat center / cover;
}

.left-center-mobile-logo {
  @apply inline-block z-[1] absolute -left-[26px] top-24 rotate-[245deg];
  width: 32px; /* 设置适当的宽度 */
  height: 32px; /* 设置适当的高度 */
  background: url(../i/ui-rookie-logo.svg) no-repeat center / cover;
}

.left-bottom-mobile-logo {
  @apply inline-block z-[1] absolute -left-6 bottom-8;
  width: 42px; /* 设置适当的宽度 */
  height: 42px; /* 设置适当的高度 */
  background: url(../i/ui-rookie-logo.svg) no-repeat center / cover;
}

.right-bottom-mobile-logo {
  @apply inline-block z-[1] absolute -right-4 -bottom-4 rotate-[240deg];
  width: 53px;
  height: 53px;
  background: url(../i/ui-rookie-logo.svg) no-repeat center / cover;
}

.right-bottom-free-mobile-logo {
  @apply inline-block z-[1] absolute -right-4 bottom-16 rotate-[245deg];
  width: 32px;
  height: 32px;
  background: url(../i/ui-rookie-logo.svg) no-repeat center / cover;
}