/* @import '@mdi/font/css/materialdesignicons.css'; */

/* i.i {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background: no-repeat center;
  background-size: contain;
} */
/* .mdi {
  font-family: 'Material Design Icons';
  min-width: 1rem;
  line-height: normal;
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(1turn);
  }
} */
