:root {
  --bg2: linear-gradient(180deg, rgba(0, 0, 0, 0.001) 99%, rgba(0, 0, 0, 0.25) 100%);
  --bgDisabled: #a1a3f7;

  --radius: 1rem;
  --btn_radius: 0.25rem;

  --a_color: #2196f3;
  --a_hover_color: rgba(59, 130, 246, 0.88);
  /* Overridable */
  --textBase: var(--text-base, 14px);
  --fontFamily: var(--font-family, 'Helvetica Neue', Arial, sans-serif);
  --textColor: var(--text-color, #fff);
  --textColorInverse: var(--text-color-inverse, rgb(182, 175, 168));
  --headerH: var(--header-height, 112px);
  --footerH: var(--footer-height, 60px);
  --appMainH: calc(100vh - var(--headerH) - var(--footerH) - var(--networkWarnH, 0px));
  --appMainBg: var(--app-main-bg, #fff);
  /* Named colors */
  --colorHighlight: var(--color-highlight, #fff857);
  --colorSecondary: var(--color-secondary, #2196f3);
  --colorError: var(--color-error, #b00020);
  --colorSuccess: var(--color-success, #4caf50);
  --colorDark: var(--color-dark, #373737);
  /* Buttons */
  --btnBg: var(--btn-bg, #6366f1);
  --btnBgHover: var(--btn-bg-hover, #4f46e5);
  --btnBgActive: var(--btn-bg-active, #4338ca);
  --btnBgSecondary: var(--btn-bg-secondary, #64748b);
  --btnBgSecondaryHover: var(--btn-bg-secondary-hover, #5a687d);
  --btnBgSecondaryActive: var(--btn-bg-secondary-active, #505d6f);
  --btnBgSuccess: var(--btn-bg-success, #22c55e);
  --btnBgSuccessHover: var(--btn-bg-success-hover, #1fb155);
  --btnBgSuccessActive: var(--btn-bg-success-active, #1b9e4b);
  /* Forms */
  --formBorder: #ced4da;
  --formBorderFocus: var(--btnBg);
  --formActive: var(--btnBgActive);
  --formFocus: #c7d2fe;
  --formGlow: 3px solid var(--formFocus);
  /* UIs */
  --uiLogoW: var(--ui-logo-w, 112px); /* 1:5.27 */
  --uiLogoH: var(--ui-logo-h, 112px);
  --uiIconW: var(--ui-icon-w, 32px);
  --uiIconH: var(--ui-icon-h, 32px);
}

@media (max-width: 1024px) {
  :root {
    --uiLogoW: var(--ui-logo-w, 112px);
    --uiLogoH: var(--ui-logo-h, 112px);
  }
}
