:host {
  --homeBoardWidth: 8rem;
  --homeBoardHalf: calc((100% - var(--homeBoardWidth)) / 2 - 3rem);
}

.ui-board {
  @apply lg_flex-initial w-full lg_w-[30rem];
  /* & .home-board-header {
    @apply h-16 md_h-20 p-1.5 flex justify-between;
    & .home-board-lead {
      @apply flex flex-col gap-1.5;
      & h5 {
        @apply text-xl items-center;
      }
      & .home-board-subtitle {
        @apply text-neutral-400;
      }
    }
  } */
  /* Weekly */
  &:nth-of-type(1) {
    @apply grow lg_w-full;
    width: var(--homeBoardHalf);
  }
  &:nth-of-type(2) {
    @apply grow;
    width: var(--homeBoardHalf);
  }
  &:nth-of-type(3) {
    @apply shrink grow-0 lg_w-28;
  }
}

@media (max-width: 1024px) {
  .ui-board {
    /* Weekly */
    &:nth-of-type(1),
    &:nth-of-type(2) {
      width: auto;
    }
  }
}
