strict-peer-dependencies=false

; Force peerDependencies as root deps in node_modules
public-hoist-pattern[]=ethers
public-hoist-pattern[]=lit
public-hoist-pattern[]=vite
; PeerDependencies default
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*types*