html {
  background: #161831 no-repeat center top;
  background-size: cover;
  background-image: url(./assets/bg.png);
  @supports (background-image: url(./assets/bg.webp)) {
    background-image: url(./assets/bg.webp);
  }
}
