.ui-link {
  @apply no-underline;
  color: var(--a_color);
  &:hover {
    @apply underline;
    color: var(--a_color);
    text-decoration: underline;
  }
  &:not([disabled]) {
    @apply cursor-pointer;
  }
  &[disabled] {
    @apply pointer-events-none;
  }
  &.uri {
    @apply text-current;
    &:hover {
      @apply text-current;
      text-decoration: underline;
    }
  }
  &.link {
    color: var(--colorSecondary);
    &:hover {
      color: var(--colorSecondary);
      text-decoration: underline;
    }
  }
  &.router-active {
  }
  &[nav] {
    @apply inline-flex px-1 py-1.5 border-transparent rounded-full whitespace-nowrap leading-none;
    font-family: Roboto, var(--fontFamily);
    color: inherit;

    &:hover {
      color: currentColor;
    }
    &:hover {
      @apply no-underline;
    }
    &[active],
    &[exact-active] {
      color: var(--colorHighlight);
    }
  }
  &[link] {
    @apply underline;
  }
  &[text] {
    @apply text-current underline;

    &:hover {
      @apply underline;
    }
  }
}
