.ui-link {
  @apply inline-flex items-center no-underline hover_underline;
  color: var(--a_color);
  &:hover {
    @apply underline;
    color: var(--a_color);
  }
  &:not([disabled]) {
    @apply cursor-pointer;
  }
  &[disabled] {
    @apply pointer-events-none;
  }
  &.uri {
    @apply text-current;
    &:hover {
      @apply text-current;
    }
  }
  &.link {
    color: var(--colorSecondary);
    &:hover {
      color: var(--colorSecondary);
    }
  }
  &.router-active {
  }
  &[nav] {
    @apply inline-flex px-3 py-3 border-transparent rounded-full whitespace-nowrap leading-none opacity-60;
    font-family: Roboto, var(--fontFamily);
    color: inherit;

    &:hover {
      color: currentColor;
      @apply opacity-100;
    }
    &:hover {
      @apply no-underline opacity-100;
    }
    &[active],
    &[exact-active] {
      /* color: var(--colorHighlight); */
      @apply opacity-100;
    }
  }
  &[link] {
    @apply underline;
  }
  &[text] {
    @apply text-current underline;

    &:hover {
      @apply underline;
    }
  }
}
