@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ui-app-main {
    @apply float-left w-full pb-4;
    min-height: var(--appMainH);
  }
  .ui-container {
    @apply clear-both lg_max-w-5xl min-h-full mx-auto px-3 lg_px-4;
    &.sparse {
      @apply px-4;
    }
    &.full {
      @apply max-w-none;
    }
  }
  .ui-select {
    @apply whitespace-nowrap;
    & > li {
      @apply flex items-center gap-2 py-2 px-4 hover_bg-gray-50 cursor-pointer;

      &:hover {
        background: #e9ecef;
      }
      &.active {
        background: #dee2e6;
      }
      & > .mdi:first-child {
        @apply text-gray-600;
      }
    }
  }
  .ui-logo {
    @apply inline-block;
    width: var(--uiLogoW);
    height: var(--uiLogoH);
    background: url(../i/ui-logo.svg) no-repeat center;
    background-size: contain;
  }
  .mdi-discord {
    @apply bg-none;
    &::before {
      content: '';
      @apply block;
      width: 1em;
      height: 1em;
      background: transparent url(../i/discord.svg) no-repeat center;
      background-size: 90% auto;
    }
  }
  .mdi-loading {
    @apply inline-flex animate-spin;
  }
  .bgBlur {
    @apply fixed w-screen;
    &::before {
      content: '';
      @apply absolute block left-0 top-0 bottom-0 right-0 w-screen h-full;
      transition: background 0.2s;
      will-change: background;
    }
    &.active::before {
      background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
      transform: translateZ(0);
      backdrop-filter: blur(12px);
    }
  }
  .canScroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.24) rgba(0, 0, 0, 0.01);
    overscroll-behavior: contain;
    padding-right: 4px;
    margin-right: -4px;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar {
      transition: background-color 0.3s;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: var(--radius);
    }
    /* Handle */
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:window-inactive {
      transition: background-color 0.3s;
      background-color: rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: var(--radius);
    }
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:window-inactive {
      background-color: rgba(0, 0, 0, 0.4);
    }
    &:hover {
      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-thumb:window-inactive {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}
