@tailwind components;

@layer components {
  .ui-app-main {
    @apply float-left w-full pb-4;
    min-height: var(--appMainH);
  }
  .ui-container {
    @apply clear-both lg_max-w-7xl min-h-full mx-auto px-3 lg_px-4;
    &.sparse {
      @apply px-4;
    }
    &.full {
      @apply max-w-none;
    }
  }
  .ui-pageview {
    @apply w-full flex lg_mt-8 px-2 lg_px-8 gap-4 lg_gap-12;
  }
  .ui-board {
    @apply grow;
    & .ui-board-header {
      @apply h-16 md_h-20 p-1.5 flex justify-between;
      & .ui-board-lead {
        @apply flex flex-col gap-1.5;
        & h5 {
          @apply text-xl items-center;
        }
        & .ui-board-subtitle {
          @apply text-neutral-400;
        }
      }
    }
  }
  .ui-em {
    color: var(--colorHighlight);
  }
  .q {
    @apply inline opacity-50;
    font-size: smaller;
    margin-left: 0.25em;
    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
  .ui-option {
    @apply whitespace-nowrap select-none;
    & > * {
      @apply flex items-center gap-2 py-2 px-4 cursor-pointer;

      &:hover {
        background: #373757;
      }
      &.active {
        @apply cursor-default;
        background: #373757;
      }
      & > .mdi:first-child {
        @apply text-gray-600;
      }
    }
  }
  .ui-list {
    & .header {
      @apply text-neutral-400 text-sm;
      &.border-bottom {
        @apply border-b;
        border-color: #2e3349;
      }
    }
    & .num {
      @apply w-24 text-right opacity-90;
    }
    &:not(.dense) .header + .item {
      @apply !mt-2;
    }
    & > * {
      @apply flex w-full py-2 px-2 items-center gap-4;
    }

    &.bordered {
      & > :not(:first-child) {
        border-top: 1px dotted #373757;
      }
    }

    &.dense {
      & > :not(.header) {
        @apply py-1.5 px-2;
      }
    }

    &.hover {
      & > :not(.header) {
        &:hover {
          @apply bg-white/5;
        }
      }
    }
    &.stripe {
      & > :not(.header) {
        &:nth-child(odd) {
          @apply bg-white/5;
        }
      }
    }
  }
  .ui-icon,
  .ui-logo {
    @apply inline-block;
    width: var(--uiIconW);
    height: var(--uiIconH);
    background: url(../i/ui-icon.svg) no-repeat center / contain;
  }
  .ui-logo {
    @apply relative;
    width: var(--uiLogoW);
    height: var(--uiLogoH);
    background-image: url(../i/ui-logo.svg);
    &::after {
      content: 'Beta';
      @apply absolute text-xs font-normal italic -top-1.5 -right-6 px-1 py-0.5 rounded-md bg-gray-700 leading-none shadow-md shadow-black/60;
    }
  }
  .mdi-discord {
    @apply bg-none;
    &::before {
      content: '';
      @apply block;
      width: 1em;
      height: 1em;
      background: transparent url(../i/discord.svg) no-repeat center;
      background-size: 90% auto;
    }
  }
  .mdi-loading {
    @apply inline-flex animate-spin;
  }
  .bgBlur {
    @apply fixed w-screen;
    &::before {
      content: '';
      @apply absolute block left-0 top-0 bottom-0 right-0 w-screen h-full;
      transition: background 0.2s;
      will-change: background;
    }
    &.active::before {
      background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
      transform: translateZ(0);
      backdrop-filter: blur(12px);
    }
  }
  .canScroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.24) rgba(0, 0, 0, 0.01);
    overscroll-behavior: contain;
    padding-right: 4px;
    margin-right: -4px;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar {
      transition: background-color 0.3s;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: var(--radius);
    }
    /* Handle */
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:window-inactive {
      transition: background-color 0.3s;
      background-color: rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: var(--radius);
    }
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:window-inactive {
      background-color: rgba(0, 0, 0, 0.4);
    }
    &:hover {
      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-thumb:window-inactive {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  /* animations */
  @keyframes bounceY {
    0% {
      transform: translateY(-3px);
    }
    30% {
      transform: translateY(2px);
    }
    85% {
      transform: translateY(-1px);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slideY {
    0% {
      @apply opacity-0;
      transform: translateY(-9px);
    }
    50% {
      @apply opacity-60;
    }
    to {
      @apply opacity-100;
      transform: translateY(0);
    }
  }
  @keyframes frozen {
    0% {
      @apply opacity-0;
    }
    to {
      @apply opacity-30;
    }
  }
}
