:host {
  &::part(dialog-container) {
    min-height: 100px;
  }
  &::part(dialog-close) {
  }
  &::part(dialog-header) {
    min-height: 0;
  }
  &::part(dialog-body) {
    min-height: 0;
  }
  &::part(dialog-footer) {
    min-height: 0;
  }
}
