:host {
  --dialogMinH: 14rem;
  --dialogHeaderH: 3.5rem;
  --dialogFooterH: 3.3125rem;
  @apply z-50 fixed flex justify-center items-center left-0 top-0 w-full h-full invisible px-4 lg_px-0;
  @apply flex flex-col w-full;
  &::part(dialog-container) {
    @apply w-full visible;
    max-width: var(--appMaxW, 28rem);
    min-height: var(--dialogMinH);
    background-color: #212145;
    @apply border border-transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #212145, #212145), linear-gradient(90deg, #bd47ff, #2c73b1);
    animation: slideY 0.3s ease-out;
  }
  &::part(dialog-close) {
  }
  &::part(dialog-header) {
    min-height: var(--dialogHeaderH);
  }
  &::part(dialog-body) {
    min-height: calc(var(--dialogMinH) - var(--dialogHeaderH) - var(--dialogFooterH));
  }
  &::part(dialog-footer) {
    min-height: var(--dialogFooterH);
  }
  &::part(dialog-overlay) {
    animation: frozen 0.3s ease-out;
  }
}
