:host {
  @apply z-50 fixed flex justify-center items-center left-0 top-0 w-full h-full invisible px-4 lg_px-0;
  &::part(dialog-container) {
    @apply w-full;
    max-width: var(--appMaxW, 480px);
    min-height: 300px;
  }
  &::part(dialog-close) {
  }
  &::part(dialog-header) {
  }
  &::part(dialog-body) {
    min-height: 9rem;
  }
  &::part(dialog-footer) {
  }
}
.dialog-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.dialog-header-icons {
  @apply text-xl;
}
