:host {
  &[disabled],
  &:disabled,
  &.disabled,
  &.pending {
    @apply pointer-events-none cursor-not-allowed;
  }
}

.ui-button {
  @apply inline-flex justify-center items-center gap-1 text-white py-2 leading-tight text-sm sm_text-base rounded-md whitespace-nowrap;
  background: var(--btnBg);
  &:not([dense]) {
    @apply px-3.5;
  }
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  &:not([disabled]) {
    &:hover {
      background: var(--btnBgHover);
      border-color: var(--btnBgHover);
    }
    &:active {
      background: var(--btnBgActive);
      border-color: var(--btnBgActive);
    }
  }
  &[disabled],
  &:disabled,
  &[pending],
  &.pending {
    @apply !cursor-not-allowed !pointer-events-none;
    opacity: 0.4;
    /* background: var(--bgDisabled) !important; */
    &.outlined {
      opacity: 0.75;
    }
  }
  &.outlined {
    background-color: transparent !important;
    color: #60a5fa;
    border: 1px solid;
    &:not([disabled]) {
      &:hover {
        background: rgba(96, 165, 250, 0.04) !important;
        color: #60a5fa;
        border: 1px solid;
      }
      &:active {
        background: rgba(96, 165, 250, 0.16) !important;
        color: #60a5fa;
        border: 1px solid;
      }
    }
  }
  &.secondary {
    background: var(--btnBgSecondary);
    &:not([disabled]) {
      &:hover {
        background: var(--btnBgSecondaryHover);
        border-color: var(--btnBgSecondaryHover);
      }
      &:active {
        background: var(--btnBgSecondaryActive);
        border-color: var(--btnBgSecondaryActive);
      }
    }
    &.outlined {
      color: var(--btnBgSecondary);
      &:hover,
      &:active {
        color: var(--btnBgSecondary);
      }
    }
  }
  &.minor {
    background: var(--btnBgSecondary);
    &:not([disabled]) {
      &:hover {
        background: var(--btnBgSecondaryHover);
        border-color: var(--btnBgSecondaryHover);
      }
      &:active {
        background: var(--btnBgSecondaryActive);
        border-color: var(--btnBgSecondaryActive);
      }
    }
    &.outlined {
      color: var(--btnBgSecondary);
      &:hover,
      &:active {
        color: var(--btnBgSecondary);
      }
    }
  }
  &.success {
    background: var(--btnBgSuccess);
    &:not([disabled]) {
      &:hover {
        background: var(--btnBgSuccessHover);
        border-color: var(--btnBgSuccessHover);
      }
      &:active {
        background: var(--btnBgSuccessActive);
        border-color: var(--btnBgSuccessActive);
      }
    }
  }
  &.text,
  &[text],
  &[icon] {
    color: #60a5fa;
    @apply bg-transparent border-transparent;
    &[disabled],
    &:disabled,
    &[pending],
    &.pending {
      background: transparent !important;
      color: var(--bgDisabled);
    }
    &:hover {
      color: #60a5fa;
      background: rgba(96, 165, 250, 0.04) !important;
    }
    &:active {
      color: #60a5fa;
      background: rgba(96, 165, 250, 0.16) !important;
    }
  }
  &[icon] {
    border-radius: 50%;
    @apply justify-center w-8 h-8 text-xl;
  }
  &[sm] {
    @apply text-sm py-1.5;
    &:not([dense]) {
      @apply px-2.5;
    }
    &[icon] {
      @apply w-7 h-7;
    }
  }
  &[lg] {
    @apply text-lg py-2.5;
    &:not([dense]) {
      @apply px-4;
    }
    &[icon] {
      @apply w-10 h-10 text-3xl;
    }
  }
  &[theme='dark'] {
    background: var(--colorDark) !important;
  }
}
