.skeleton {
  @apply inline-flex flex-col w-full h-full gap-4;
}
.p {
  @apply h-full rounded-md overflow-hidden;
  height: 1em;
  background: #22243c;
  &::after {
    content: '';
    @apply block w-full h-full;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 8%,
        rgba(255, 255, 255, 0.8) 36%,
        rgba(255, 255, 255, 0) 66%
      )
      0% 0% / 1200px;
    animation: skeleton 3s ease-in-out infinite;
  }
  &:nth-child(3n + 1) {
    @apply w-24;
  }
  &:nth-child(3n + 2) {
    @apply w-36;
  }
  &:nth-child(3n + 3) {
    @apply w-48;
  }
}

.skeleton.sm {
  & .p {
    @apply w-full;
    &:nth-child(3n + 1) {
      @apply w-8/12;
    }
    &:nth-child(3n + 2) {
      @apply w-10/12;
    }
    &:nth-child(3n) {
      @apply w-full;
    }
  }
}

@keyframes skeleton {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
