:host {
}
.ui-drop {
  @apply absolute rounded-md max-w-xs overflow-hidden;
  background: var(--btnBgSecondaryActive) !important;
  min-width: 11rem;
  min-height: 9rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.ui-drop-toggle {
  &.inverse {
    & .mdi {
      color: var(--textColor);
    }
  }
}
