:host {
  @apply inline-flex items-center;
}

.input {
  @apply inline-flex relative justify-center items-center origin-center leading-none transition-all box-border;
  border-radius: 5px;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #424b57;
  &::before {
    content: '';
    @apply block invisible origin-center;
    width: 90%;
    height: 90%;
    background: url(./check.svg) no-repeat center;
  }
}
.ui-radio {
  & .input {
    @apply rounded-full;
    &::before {
      @apply rounded-full;
      border: 1px solid #fff;
      background: var(--formBorderActive);
      width: calc(100%);
      height: calc(100%);
    }
  }
}

label {
  &:not([disabled]) {
    @apply cursor-pointer;
    &:hover {
      & .input {
        border-color: var(--formBorderFocus);
        &:focus {
        }
      }
    }
  }
  &.checked {
    & .input {
      background: var(--formBorderFocus);
      border-color: var(--formBorderFocus);
      &::before {
        @apply !visible;
      }
    }
  }
  &[disabled] {
    &.checked {
      & .input {
        background: var(--formBorder);
        border-color: var(--formBorder);
      }
    }
  }
  &:focus {
    background: red;
  }
}
